/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
  font-family: Kenyan;
  src: url('/assets/fonts/kenyan_coffee_rg.ttf');
}
@font-face {
  font-family: Kenyan-italic;
  src: url('/assets/fonts/kenyan_coffee.ttf');
 }
  @font-face {
    font-family: Kenyan-bold;
    src: url('/assets/fonts/kenyan_coffee_bd.ttf');
   }
