body,html {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Kenyan', sans-serif;
  background-image: url("../assets/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #828282;
  background-blend-mode: darken;
  min-height: 1000px;
}

header h1 {
  margin-top: 150px;
  padding-bottom: 20px;
}
.title {
  text-shadow: 10px 10px 0px #008368;
  font-family: 'Kenyan-italic', sans-serif;
  font-size: 250px;
}

h1.title:hover {
  text-shadow: 10px 10px 0px #cdb805;
}
hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #707070;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
p.lead {
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.service-items {
  align-items: baseline;
}
section {
  padding: 8rem 0;
}
.btn-light, .btn-light:active, .btn-light:visited {
    background-color: #008368 !important;
    box-shadow: none;
    border-color: none;
}
.btn-light:hover{
  background-color: #cdb805 !important;
}
