<body>
  <header class="text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto col-sm-12">
          <h1 class="display-1 text-uppercase title" [ngsReveal]="{ duration: 2500 }">
            Älg IT
          </h1>
          <hr>
          <br />
          <button type="button" class="btn btn-light btn-lg">Login</button>
        </div>
      </div>
    </div>
  </header>
  <app-navbar></app-navbar>
</body>
