  <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 text-center">
            <header>
            <h1 class="display-1 text-uppercase">
              <strong>älg it</strong>
            </h1>
            <hr>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tempus libero.
              Vestibulum consequat semper nisl vitae ultrices.
              Fusce sit amet vestibulum risus. Suspendisse potenti.
            </p>
            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
          </header>
          <section class="bg-primary" id="about">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading text-white">We've got what you need!</h2>
                  <hr class="light my-4">
                  <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                </div>
              </div>
            </div>
          </section>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
  </body>
